.footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-top: 5px solid grey;
    padding: 15px 0;
}
.footer ul{
    list-style-type: none;
}

@media (max-width:560px){
    .footer{
        flex-direction: column;
        gap: 30px 20px;
        align-items: self-start;
        padding-left: 40px;
    }
    .footer h3{
        color: red;
    }
    }
