*{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header div{
    display: flex;

}
.header{
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    cursor: pointer;
    z-index: 1;
}

.logo{
    width: 20%;
    height: 100%;
}
.logo img{
    width: 50px;
    height: 50px;
    padding: 0 0 0 10px;
}
.logo img:hover{
    width: 50px;
    height: 50px;
    padding: 0 0 0 15px;
    background-color: red;
}

.navlist{
    width: 80%;
    height: 100%;    
    justify-content: flex-end;
    align-items: center;
}
.navlist ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.navlist ul li{
    display: flex;
    justify-content: space-between;    
    padding: 0 15px;
}
.navlist ul a{
    text-decoration: none;
    color: white;
}
.navlist ul a:hover{
    text-decoration: none;
    color: red;
}

/* @media screen and (max-width: 480px){
    .navlist{
        flex-direction: column;
    }
    .navlist ul{
        flex-direction: column;
    }
    .header{
        height: 100vh;
    }
} */