*{
    padding: 0;
    margin: 0;
}
/* .lgbtn{
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: rgba(119, 136, 153, 0.545);
} */
.lgbtn:hover{
    border: red solid 2px;    
}
/* #hgadj{
    line-height: 30px;
} */
.header img{
    width: 50px;
    height: 50px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    z-index: 1;
}
.logo{
    transition: 0.5s;
}
.logo:hover{
    padding: 0 0 0 10px;
    background-color: red;
}
.header ul{
    float: right;
    margin-right: 25px;
}
.header ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 6px;
}
.header ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    transition: 0.5s;
}
.header ul li a:hover{
    color: red;
}
#check{
    display: none;
}
.checkbtn{
    color: white;
    float: right;
    font-size: 35px;
    line-height: 50px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}

.login{
    width: auto;
    height: auto;
    background-color: yellow;

    position: absolute;
    top: 20%;
    left: 25%;

    display: flex;
}
.lgin-frm{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.internal{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media (max-width:560px){
    .btn1{
        display: block;
    }
    .header ul{
        position: fixed;
        background: grey;
        width: 100%;
        height: calc( 100vh - 50px);
        top: 50px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
    }
    .header ul li{
        display: block;
        padding: 30px 60px;
        line-height: 35px;
    }
    .header ul li a{
        font-size: 22px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ .btn1{
        display: none;
    }
    #check:checked ~ .btn2{
        display: block;
    }
}