.home{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.btn{
    color: white;
    border: white solid 2px;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    transition: 0.25s;
    background-color: rgba(119, 136, 153, 0.576);
}
.btn:hover{
    border: red solid 2px;
    background-color: lightslategray;
}
.bg video{
        width: 100%;
        height: 100vh;
        position: fixed;
        object-fit: cover;
}
.kabir{
    height: 100vh;
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.kabir h2{
    color: red;
    padding-bottom: 15px;
}
.kabir-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 25px;
}
.kabir img{
    width: 40%;
    padding: 0 0;
    border-radius: 50px;
    padding: 20px 40px;
}
.kabir-vdo{
    margin: 30px 50px;
    width: 560px;
    height: 315px;
}
.hritikbio{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh; 
    background: url('./images/hrx-hritik.jpg');
    background-size: cover;
    background-position: center;
}
.bio{
    color: white;
    font-size: 15px;
    width: 50%;
    height: fit-content;
    padding: 40px 20px;
    margin: 10px 10px;
    background-color: rgba(2, 2, 2, 0.422);
    border: white solid 2px;
    border-radius: 10px; 
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width:560px){
    .kabir{
        flex-direction: column;
    }
    .kabir-vdo{
        width: 80%;
    }
    .kabir-info p, .kabir-info h2{
        padding: 0 10%;
    }
    .bio{
        width: fit-content;
    }
}