.home{
    display: flex;
    flex-direction: column;

    /* width: 100%;
    height: 100%;
    background: url('images/hrx-hritik.jpg');
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.276);
    background-blend-mode: darken;     */
}
.bg video{
        width: 100%;
        height: 100vh;
        /* z-index: -1; */
        position: fixed;
        object-fit: cover;
}